.section {
    padding: 100px 0;
  }
  
  /* HERO IMAGE */
  .section-hero {
    background-image: url("https://media.gettyimages.com/id/1493959975/photo/young-man-working-out-with-battle-ropes-in-gym.jpg?s=612x612&w=0&k=20&c=HCwHnSVYRuJNHc-uF9J5WAXCWztLLxNtgS-OdMX7AVM=");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  }
  
  /* Light section */
  .section-light {
    background-color: #ffffff;
  }
  
  /* Dark section */
  .section-dark {
    background-color: #f2f2f2;
  }

  /* Testimonial Carousel */

  /* body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(180deg, #1E88E5, #fff);
    background-repeat: no-repeat;
} */

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD;
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important;
}

.owl-dots {
    display: none; 
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}


.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6;
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6;
}

.item.show {
    display: block;
    transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {
    .next, .prev {
        transform: scale(1);
        opacity: 1;
    }

    .item {
        display: block !important;
    }
}

#onlineCoaching{
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  #onlineCoaching:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }

  #individualTraining{
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  #individualTraining:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }

  #nutritionCoaching {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  #nutritionCoaching:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }
    
  
  /* Footer */
  .footer {
    background-color: #111;
    color: #aaa;
    padding: 30px 0;
  }
  
